.container {
  overflow-y: auto;
  height: 80vh;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.6;
  margin-bottom: 15px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 15px;
}
