@if (chatViewService.view() === 'startChat') {
  <div
    class="mat-font"
    style="
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-height: 50vh;
      text-align: center;
      padding-top: 15vh;
    "
  >
    <h1>{{ displayedText() }}</h1>

    <app-chat-input-component
      (onSendText)="sendFistText($event)"
      style="width: 100%; max-width: 800px"
    ></app-chat-input-component>

    @if (authService.isLoggedIn() && authService.user()?.emailVerified) {
      <div class="container-chips-responsive">
        <mat-chip-listbox
          [value]="chatMode()"
          (change)="onModeChange($event.value)"
        >
          <mat-chip-option style="margin-bottom: 15px !important;"  value="EPHEMERAL">
            <mat-icon  matChipAvatar>auto_delete</mat-icon>
            {{ languageService.translate('EPHEMERAL') }}
          </mat-chip-option>

          <mat-chip-option style="margin-bottom: 15px !important"  value="INTERVIEW">
            <mat-icon matChipAvatar>list_alt_add</mat-icon>
            {{ languageService.translate('INTERVIEWS') }}
          </mat-chip-option>

          <mat-chip-option  style="margin-bottom: 15px !important"  value="CONVERSATION">
            <mat-icon matChipAvatar>save</mat-icon>
            {{ languageService.translate('PERSISTENT_CHAT') }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    }
  </div>
} @else {
  <app-conversation [firstMessage]="message()"></app-conversation>
}
