.dialog-container {
  display: flex;
  flex-direction: column;
  /* 1. Forzamos a que el contenedor ocupe TODO el alto disponible en cualquier dispositivo */
  height: 100% !important; 
  min-height: 100% !important; 
  
  padding: 8px 16px;
  box-sizing: border-box;
}

.dialog-content {
  color: #7f8c8d;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
  padding: 0;

  /* 2. ¡La pieza clave! Hace que el contenido absorba todo el espacio vertical sobrante */
  flex-grow: 1; 
  /* 3. Si el texto o formulario es muy largo en móviles, creará scroll aquí adentro */
  overflow-y: auto; 
}

/* El resto de tus botones se mantiene igual */
.dialog-actions {
  display: flex !important;
  justify-content: flex-end !important;
  gap: 12px;
  /* 4. Aseguramos que no se achiquen en pantallas pequeñas */
  flex-shrink: 0; 
  margin-top: auto !important; /* Fuerza el empuje final */
}
/* Botón Cancelar */
.btn-cancel {
  color: #7f8c8d !important;
  transition: background-color 0.3s;
}
.btn-cancel:hover {
  background-color: #f5f6fa;
}

/* Botón Confirmar (Peligro) */
.btn-confirm {
  background-color:  #4f46e5  !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 0 20px !important;
  box-shadow: 0 4px 6px rgba(146, 87, 180, 0.2);
  transition: all 0.3s ease;
}

.btn-confirm:hover {
  background-color:  #4f46e5  !important;
  box-shadow: 0 6px 12px rgba(128, 61, 134, 0.3);
  transform: translateY(-1px);
}

.dialog-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #111827;
    text-align: center;
  }
}

.dialog-header button {
  position: absolute;
  top: 5px;
  right: 0;

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%; 
  overflow: hidden; 

  background: transparent;
  color: #6b7280;

  /* Centrado perfecto del icono */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  cursor: pointer;
  outline: none !important; /* Quita la línea de enfoque por defecto */
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

/* Evita que el estado de enfoque de Angular Material pinte esquinas */
.dialog-header button:focus,
.dialog-header button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.dialog-header button:hover {
  background: #f3f4f6;
  color: #111827;
}

/* Si estás usando mat-icon-button o similar, forzamos el efecto ripple a redondo */
::ng-deep .dialog-header button .mat-mdc-button-persistent-ripple,
::ng-deep .dialog-header button .mdc-button__ripple {
  border-radius: 50% !important; /* Fuerza al ripple interno a ser redondo */
}

.dialog-header button mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
